.auth {
  height: 100vh;
  background: #eff0fb;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 21px 30px;
    h3 {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #2c363a;
      img {
        width: 18px;
        margin-right: 7px;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 27px;
    }
  }
  &__main {
    margin-top: 100px;
    padding: 0 16px;
  }
  &__lang {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 100px auto 0;
    .activeLang {
      border: 1px solid #7159bd;
      color: #7159BD;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    }
    span {
      cursor: pointer;
      padding: 5px 16px;
      background: #ffffff;
      color: rgba(0, 0, 0, 0.85);
      text-align: center;
      border: 1px solid #d9d9d9;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
      border-radius: 6px;
    }
  }
}

@media (max-width: 686px) {
    .auth{
      &__header{
        display: none;
      }
      &__main{
        margin: 0;
        padding-top: 44px;
      }
      &__lang{
        margin-top: 26px;
      }
    }
}